@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */


/* Inside your CSS file, add media queries for different screen sizes
@media (max-width: 768px) {
  .wavy-background-container {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .wavy-background-container {
    padding: 5px;
  }
} */
